In [1]:
import numpy as np
import pandas as pd
import pickle
import os

start by writing code for a single earthquake

In [2]:
base_folder = '/home/earthquakes1/homes/Rebecca/phd/data/2018_2021_global_m5/'

In [3]:
folders = os.listdir(base_folder)

In [4]:
fn = 'eq_object_1s_bandpass_01_19_snr_20_blank_025'

In [5]:
df = pd.DataFrame(columns = [
    'eq_id',
    'eq_time',
    'eq_loc',
    'tp_max',
    'tp_max_stations',
    'tc',
    'tc_stations',
    'iv2',
    'iv2_distances',
    'iv2_stations'])

In [6]:
for eq_no in range(0, 10):#len(folders)):
    #start = time.perf_counter()
    if os.path.exists(base_folder+folders[eq_no]+'/'+fn+'.pkl'):
        with open(base_folder+folders[eq_no]+'/'+fn+'.pkl', 'rb') as picklefile:
            eq = pickle.load(picklefile)
            df2 = pd.DataFrame({'eq_id':[str(eq.event.resource_id).split('=')[1]],
                   'eq_time':[eq.event_stats['name'][:-2]],
                   'eq_loc':[(eq.event_stats['eq_lat'], eq.event_stats['eq_long'], eq.event_stats['eq_depth']/1000)],
                    'tp_max':[eq.calculated_params['tau_p_max']],
                    'tp_max_stations':[0],
                    'tc':[eq.calculated_params['tau_c']],
                    'tc_stations':[0],
                    'iv2':[eq.calculated_params['iv2']],
                    'iv2_distances':[0],
                    'iv2_stations':[0]})
            df = pd.concat([df,df2])

In [7]:
df.reset_index()

,index,eq_id,eq_time,eq_loc,tp_max,tp_max_stations,tc,tc_stations,iv2,iv2_distances,iv2_stations
0,0,10637347,20180130_192419,"(64.6279, -17.263, 6.73)",[],0,[],0,[],0,0
1,0,10608605,20180125_172434,"(40.4213, -126.383, 10.5)",[],0,[],0,[],0,0
2,0,10608593,20180125_163943,"(40.4556, -126.3332, 8.88)",[],0,[],0,[],0,0
3,0,10608232,20180124_074605,"(-20.3273, -69.1123, 103.06)","[0.7842789921706352, 0.8280270399321578, 0.525...",0,"[0.8106965147004442, 1.2575334396350493, 1.022...",0,"[[2.786415209662904e-07, 85.48774528463134], [...",0,0